<% @letsgos.each_with_index do |letsgo, i| %>
  <li class="<%= letsgo_icon_class(letsgo) %>">
    <div class="<%= 'without_user' unless current_user?(letsgo.user) %> details">
        <b>Let's Go...<span class="content"><%= letsgo.content %></span></b>
    </div>
    <div class="<%= 'without_user' unless current_user?(letsgo.user) %> form_actions">
      <% if current_user?(letsgo.user) %>
        <%= button_to "delete", letsgo, method: :delete, data: { confirm: "You sure?" }, class: "btn btn-danger" %>
      <% end %> 
      <% unless current_user?(letsgo.user) %>
        <%= button_to "I'm Interested", interested_letsgo_path(letsgo), method: :message, class: "btn btn-danger" %>
        <%= button_to "repost", repost_letsgo_path(letsgo), method: :post, class: "btn btn-danger"%>
      <% end %>
    </div>
  <% end %>
 
</li>