TAG: <%= link_to "Eat/Drink", letsgos_eatdrink_path %> | <%= link_to "Listen/Watch", letsgos_listenwatch_path %> | <%= link_to "Play", letsgos_play_path %> | <%= link_to "Explore", letsgos_explore_path %> | <%= link_to "Other", letsgos_other_path %>
<br/>

<% for letsgo in @letsgos %>

      <div class="outer" style="padding-left: 25%; padding-right: 25%;">
        <fieldset style="border: 1px solid #bbbbbb; border-radius: 4px; padding: 5%; background: #eff0f3;">
          <div style="float: left;">
            <span>
                <a href="/users/shaik"><img alt="" src="/uploads/photo/image/1/avatar_ruby.png" style="border: 1px solid #bbbbbb; border-radius: 4px;"></a>
            </span>
            <p>
             <span><strong><%= letsgo.user.username %></strong><span><br/>
             <span><%= letsgo.user.age %>, <%= letsgo.user.gender %>, <%= letsgo.user.sexuality %></span><br/>
             <span><%= letsgo.user.location.city %>, <% letsgo.user.location.state %></span>
            </p>
          </div>
          <div>
            <span><%= letsgo.content %></span><br/>
            <span style="text-align: center;">.....................................................................................</span><br>
            <br/>
            <div class="letsgos_container">
              <%= link_to "View", letsgo.user, :class => "button" %>
              <% unless current_user?(letsgo.user) %>
                  <%= link_to "I'm Interested", interested_letsgo_path(letsgo), method: :message, :class => "button" %>
                  <%= link_to "repost", repost_letsgo_path(letsgo), method: :post, :class => "button" %>
              <% end %>
              <% if current_user?(letsgo.user) %>
                  <%= link_to "delete", letsgo, method: :delete, data: { confirm: "You sure?" }, :class => "button" %>
              <% end %>
            </div>
          </div>
        </fieldset>
      </div>
    <br/>
<% end %>