<%= form_for @message, :url => user_messages_path(@user) do |f| %>
  <% if @message.recipient_id.nil? %>
    <p>
      To:<br />
       <%= f.hidden_field :recipient_id, :value => params[:user_id] %> 
    </p>

  <% end %>
      <p>
        Subject:<br />
        <%= f.hidden_field :subject, :value => "You have a date from #{@user.id}" %>
      </p>
      <p>
        Message<br />
        <%= f.text_area :body %>
      </p>

      <%= submit_tag "Send"%>
<% end %>