<% render @message %>


<%= form_for @message, :url => user_messages_path(@user) do |f| %>

    <p>
      To:<br />
      <%= f.text_field :recipient_id, :value => params[:user_id] %> 
    </p>

      <p>
        Subject:<br />
        <%= f.text_field :subject %>
      </p>
      <p>
        Message<br />
        <%= f.text_area :body %>
      </p>

      <%= submit_tag "Send"%>
<% end %>