<p>
	<strong>From:</strong> 
	<%= @message.sender %>
</p>

<p>
	<strong>Received:</strong> 
	<%= @message.created_at.strftime('%B %-d, %Y %l:%M%P') %>
</p>
<p>
	<strong>To:</strong> 
	<%= @message.recipient %>
</p>

	<strong>Subject:</strong> 
	<%= @message.subject %>
</p>

<p>
	<strong>Message</strong><br />
	<%=h @message.body %>
</p>

	<%= form_for @message.question, :url => question_path(@message.question), 				
									 method: :put do |f| %>
					<%= f.label :answer, "Reply here:" %>
					<%= f.text_area :answer %>
					<%= f.submit "Send" %>
				<% end %>

<p>
	<% if @message.next %>
	  <%= link_to 'Next', user_message_path(current_user, @message.next) %>
	<% end %>
	<% if @message.previous %>
	  <%= link_to 'Previous', user_message_path(current_user, @message.previous) %>
	<% end %>
	</p>

<p>
	<% if @message.recipient == @user %>

	<%= link_to "Reply", new_user_message_path(@user, :reply_to => @message.sender.id) %>
	
	 |
	<% end %>
	<%= link_to "Inbox", user_messages_path(current_user, :mailbox=>:inbox)%>
	|
	<%= link_to "Delete", [current_user, @message], :confirm => 'Are you sure you want to delete this message?', :method => :delete %>
	
</p>


