<%= form_tag searches_path, method: :get do %>
<p>
	<%= text_field_tag :search, params[:search] %>
	<%= button_tag "Search", name: nil %>
	</p>
<% end %>

<P><%= link_to "Advanced Search", new_search_path %><p>
	
<h1>Sign Up</h1>

<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
					
	<div class="field">
		<%= f.label :email %><br/>
		<%= f.text_field :email %>
	</div>
	<div class="field">
		<%= f.label :password %><br/>
		<%= f.password_field :password %>
	</div>
	<div class="field">
		<%= f.label :username %><br/>
		<%= f.text_field :username %>
	<div class="field">
		<%= f.label :zip_code %><br/>
		<%= f.text_field :zip_code %>
	</div>
	</div>
	<div class="field">I'm a
			<%= f.select :gender, ['man', 'woman']%>
			interested in 
			<%= f.select :gender, ['woman', 'men', 'both']%>
			</div>
			<div class="field">
			Age <%= select(@object, :age, (18..75).to_a) %> to 	<%= select(@object, :age, (18..75).to_a) %>
			</div>
			<div class="field">
			                    <%= f.label :birthday %>
			                    <%= f.date_select :birthday, :start_year => 1995, :end_year => 1932 %>
			                    </div>
	<%= f.collection_select :role, User::ROLES, :to_s, :humanize %>
	<div class="actions"><%= f.submit %></div>
<% end %>