<h1>Search Users</h1>


<% @users.each do |user| %>
    <tr>
	  <td><%= image_tag user.avatar.image_url(:avatar) %></td>
      <td><%= user %></td>
      <td><%= user.location.zipcode %></td>
      <td><%= user.location.city %>, <td><%= user.location.state %></td></td><p>
    </tr>

<% end %>

