<!DOCTYPE html>
<html>
<head>
  <title>Dating</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if current_user %>
	Logged in as <%= current_user.email %>
	<%= link_to "Log Out", logout_path %>
		Unread Messages <%= current_user.received_messages.unread.count %>
<% else %>
	<%= link_to "Sign Up", signup_path %> or 
	<%= link_to "Log In", login_path %>
<% end %>
	
    <%= flash_messages %>

    <div id="container">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
      <%= content_tag :h1, yield(:title) if show_title? %>
    <%= yield %>




</body>
</html>